
FootyHi-Lite/FootyHi-Lite.xcodeproj/project.xcworkspace/xcuserdata/gyaltsen_tenzin.xcuserdatad/UserInterfaceState.xcuserstate
FootyHi-Lite/FootyHi-Lite.xcodeproj/xcuserdata/gyaltsen_tenzin.xcuserdatad/xcschemes/xcschememanagement.plist
